In [2]:
import pandas as pd

# Step 1: Read in the data
df = pd.read_excel('NY Weather Data - Apr 14 - Jul 14 (1).xlsx')
print("Original Data:")
print(df.head(), "\n")

Original Data:
  2014 Temp. (°C) Unnamed: 2 Unnamed: 3 Dew Point (°C) Unnamed: 5 Unnamed: 6  \
0  Apr       high        avg        low           high        avg        low
1    1         14          8          3              2         -2         -4
2    2          9          6          3              5          3          1
3    3         17         11          4              5          1         -6
4    4          7          6          5              6          3          2

  Humidity (%) Unnamed: 8 Unnamed: 9  ... Unnamed: 11 Unnamed: 12  \
0         high        avg        low  ...         avg         low
1           76         56         35  ...        1019        1016
2           92         81         70  ...        1020        1019
3           92         57         22  ...        1019        1017
4           92         84         76  ...        1015        1007

  Visibility (km) Unnamed: 14 Unnamed: 15 Wind (km/h) Unnamed: 17 Unnamed: 18  \
0            high         avg         low        high         avg        high
1              16          16          16          26          16          40
2              16          16          16          16           6          32
3              16          16          13          21           9          26
4              16          13           4          42          22          52

  Precip. (mm) Events
0          sum    NaN
1            0    NaN
2         0.76   Rain
3         2.03   Rain
4         2.54   Rain

[5 rows x 21 columns]

/Users/felix1025/miniconda3/lib/python3.12/site-packages/openpyxl/worksheet/_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [3]:
# Step 2: Get the row indices indicating month names (string type)
data_index = [i for i in range(len(df)) if str(df[2014][i]).isalpha()]
print("Month Indices:", data_index, "\n")

Month Indices: [0, 32, 65, 97]

In [6]:
# Step 3: Split data by month into a list
data = []
for i in range(len(data_index)):
    if i != len(data_index) - 1:
        data.append(df.iloc(axis=0)[data_index[i]:data_index[i+1]-1].reset_index(drop=True))
    else:
        data.append(df.iloc(axis=0)[data_index[i]:].reset_index(drop=True))
print("First Month Data (raw split):")
print(data[0].head(), "\n")

First Month Data (raw split):
  2014 Temp. (°C) Unnamed: 2 Unnamed: 3 Dew Point (°C) Unnamed: 5 Unnamed: 6  \
0  Apr       high        avg        low           high        avg        low
1    1         14          8          3              2         -2         -4
2    2          9          6          3              5          3          1
3    3         17         11          4              5          1         -6
4    4          7          6          5              6          3          2

  Humidity (%) Unnamed: 8 Unnamed: 9  ... Unnamed: 11 Unnamed: 12  \
0         high        avg        low  ...         avg         low
1           76         56         35  ...        1019        1016
2           92         81         70  ...        1020        1019
3           92         57         22  ...        1019        1017
4           92         84         76  ...        1015        1007

  Visibility (km) Unnamed: 14 Unnamed: 15 Wind (km/h) Unnamed: 17 Unnamed: 18  \
0            high         avg         low        high         avg        high
1              16          16          16          26          16          40
2              16          16          16          16           6          32
3              16          16          13          21           9          26
4              16          13           4          42          22          52

  Precip. (mm) Events
0          sum    NaN
1            0    NaN
2         0.76   Rain
3         2.03   Rain
4         2.54   Rain

[5 rows x 21 columns]

In [7]:
# Step 4: Extract all relevant column names
column_names = [i for i in df.columns.tolist() if 'Unnamed' not in str(i)]
print("Column Names:", column_names, "\n")

# Step 5: Create detailed columns by splitting original columns
columns = []
for i in column_names[1:-2]:
    columns = columns + ((i + ',') * 3).split(',')[:-1]

print("Split Column Names:", columns, "\n")

Column Names: [2014, 'Temp. (°C)', 'Dew Point (°C)', 'Humidity (%)', 'Sea Level Press. (hPa)', 'Visibility (km)', 'Wind (km/h)', 'Precip. (mm)', 'Events']

Split Column Names: ['Temp. (°C)', 'Temp. (°C)', 'Temp. (°C)', 'Dew Point (°C)', 'Dew Point (°C)', 'Dew Point (°C)', 'Humidity (%)', 'Humidity (%)', 'Humidity (%)', 'Sea Level Press. (hPa)', 'Sea Level Press. (hPa)', 'Sea Level Press. (hPa)', 'Visibility (km)', 'Visibility (km)', 'Visibility (km)', 'Wind (km/h)', 'Wind (km/h)', 'Wind (km/h)']

In [8]:
# Step 6: Mapping month names to numbers
month_dict = {'Apr': '4', 'May': '5', 'Jun': '6', 'Jul': '7'}

# Step 7: Format date and adjust columns
for frame in data:
    frame[2014][1:] = frame[2014][1:].apply(lambda x: '2014/' + month_dict[frame[2014][0]] + '/' + str(x))
    frame.columns = [str(df.columns[0])] + columns + df.columns[-2:].tolist()

print("First Month Data (after date format and column adjustment):")
print(data[0].head(), "\n")

First Month Data (after date format and column adjustment):
       2014 Temp. (°C) Temp. (°C) Temp. (°C) Dew Point (°C) Dew Point (°C)  \
0       Apr       high        avg        low           high            avg
1  2014/4/1         14          8          3              2             -2
2  2014/4/2          9          6          3              5              3
3  2014/4/3         17         11          4              5              1
4  2014/4/4          7          6          5              6              3

  Dew Point (°C) Humidity (%) Humidity (%) Humidity (%)  ...  \
0            low         high          avg          low  ...
1             -4           76           56           35  ...
2              1           92           81           70  ...
3             -6           92           57           22  ...
4              2           92           84           76  ...

  Sea Level Press. (hPa) Sea Level Press. (hPa) Visibility (km)  \
0                    avg                    low            high
1                   1019                   1016              16
2                   1020                   1019              16
3                   1019                   1017              16
4                   1015                   1007              16

  Visibility (km) Visibility (km) Wind (km/h) Wind (km/h) Wind (km/h)  \
0             avg             low        high         avg        high
1              16              16          26          16          40
2              16              16          16           6          32
3              16              13          21           9          26
4              13               4          42          22          52

  Precip. (mm) Events
0          sum    NaN
1            0    NaN
2         0.76   Rain
3         2.03   Rain
4         2.54   Rain

[5 rows x 21 columns]

/var/folders/21/2vww23053nl1mz7by1h2_vb40000gn/T/ipykernel_9010/1200545088.py:6: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  frame[2014][1:] = frame[2014][1:].apply(lambda x: '2014/' + month_dict[frame[2014][0]] + '/' + str(x))

In [10]:
# Step 8: Generate new combined headers
new_cols = []
for i, j in zip(data[0].columns[1:-2], data[0].iloc(axis=0)[0][1:-2]):
    new_cols.append(i + '-' + j)
new_cols = ['Date'] + new_cols + data[0].columns[-2:].tolist()

print("New Combined Headers:", new_cols, "\n")

New Combined Headers: ['Date', 'Temp. (°C)-high', 'Temp. (°C)-avg', 'Temp. (°C)-low', 'Dew Point (°C)-high', 'Dew Point (°C)-avg', 'Dew Point (°C)-low', 'Humidity (%)-high', 'Humidity (%)-avg', 'Humidity (%)-low', 'Sea Level Press. (hPa)-high', 'Sea Level Press. (hPa)-avg', 'Sea Level Press. (hPa)-low', 'Visibility (km)-high', 'Visibility (km)-avg', 'Visibility (km)-low', 'Wind (km/h)-high', 'Wind (km/h)-avg', 'Wind (km/h)-high', 'Precip. (mm)', 'Events']

In [11]:
# Step 9: Drop first row of each month and set new headers
for frame in data:
    frame.drop(0, axis=0, inplace=True)
    frame.columns = new_cols

print("First Month Data (finalized headers):")
print(data[0].head(), "\n")

First Month Data (finalized headers):
       Date Temp. (°C)-high Temp. (°C)-avg Temp. (°C)-low Dew Point (°C)-high  \
1  2014/4/1              14              8              3                   2
2  2014/4/2               9              6              3                   5
3  2014/4/3              17             11              4                   5
4  2014/4/4               7              6              5                   6
5  2014/4/5              14              9              5                   6

  Dew Point (°C)-avg Dew Point (°C)-low Humidity (%)-high Humidity (%)-avg  \
1                 -2                 -4                76               56
2                  3                  1                92               81
3                  1                 -6                92               57
4                  3                  2                92               84
5                  0                 -6                93               63

  Humidity (%)-low  ... Sea Level Press. (hPa)-avg Sea Level Press. (hPa)-low  \
1               35  ...                       1019                       1016
2               70  ...                       1020                       1019
3               22  ...                       1019                       1017
4               76  ...                       1015                       1007
5               32  ...                       1011                       1007

  Visibility (km)-high Visibility (km)-avg Visibility (km)-low  \
1                   16                  16                  16
2                   16                  16                  16
3                   16                  16                  13
4                   16                  13                   4
5                   16                  14                   3

  Wind (km/h)-high Wind (km/h)-avg Wind (km/h)-high Precip. (mm) Events
1               26              16               40            0    NaN
2               16               6               32         0.76   Rain
3               21               9               26         2.03   Rain
4               42              22               52         2.54   Rain
5               53              27               63            T   Rain

[5 rows x 21 columns]

In [12]:
# Step 10: Concatenate all monthly data into one DataFrame
final = pd.concat(data, axis=0, ignore_index=True)
print("Final Combined Data:")
print(final.head(), "\n")

# Step 11: Write to CSV
final.to_csv('final.csv', index=None)
print("Final data written to final.csv")

Final Combined Data:
       Date Temp. (°C)-high Temp. (°C)-avg Temp. (°C)-low Dew Point (°C)-high  \
0  2014/4/1              14              8              3                   2
1  2014/4/2               9              6              3                   5
2  2014/4/3              17             11              4                   5
3  2014/4/4               7              6              5                   6
4  2014/4/5              14              9              5                   6

  Dew Point (°C)-avg Dew Point (°C)-low Humidity (%)-high Humidity (%)-avg  \
0                 -2                 -4                76               56
1                  3                  1                92               81
2                  1                 -6                92               57
3                  3                  2                92               84
4                  0                 -6                93               63

  Humidity (%)-low  ... Sea Level Press. (hPa)-avg Sea Level Press. (hPa)-low  \
0               35  ...                       1019                       1016
1               70  ...                       1020                       1019
2               22  ...                       1019                       1017
3               76  ...                       1015                       1007
4               32  ...                       1011                       1007

  Visibility (km)-high Visibility (km)-avg Visibility (km)-low  \
0                   16                  16                  16
1                   16                  16                  16
2                   16                  16                  13
3                   16                  13                   4
4                   16                  14                   3

  Wind (km/h)-high Wind (km/h)-avg Wind (km/h)-high Precip. (mm) Events
0               26              16               40            0    NaN
1               16               6               32         0.76   Rain
2               21               9               26         2.03   Rain
3               42              22               52         2.54   Rain
4               53              27               63            T   Rain

[5 rows x 21 columns]

Final data written to final.csv